%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th
      %th
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to "Edit Movie #{movie.title}", edit_movie_path(movie)
        %td= link_to "Delete Movie", movie_path(movie), method: :delete, data: {confirm: "Are you sure?"}
= link_to 'Add new movie', new_movie_path
